<h2>Lista użytkowników</h2>
<div class="nav">
  <button class="button-secondary" (click)="addUser()">
    + Dodaj użytkownika
  </button>
  <button class="button-primary" (click)="goToHome()">
    &#8592; Strona główna
  </button>
</div>

<table>
  <tr>
    <th>Personalia</th>
    <th>Email</th>
    <th class="options">Akcje</th>
  </tr>
  @for(user of users; track user.id){
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email }}</td>
    <td class="options">
      @if(user.id){
      <button class="button-edit" (click)="editUser(user.id)">Edytuj</button>
      <button class="button-delete" (click)="deleteUser(user.id)">Usuń</button>
      }
    </td>
  </tr>
  }
</table>
