.nav {
  display: flex;
  height: var(--nav-height);
  justify-content: space-evenly;
  align-items: center;
}

table {
  width: 100%;
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  border-spacing: 0;
  padding: 5px;
  background-color: var(--table-bg);
  font-family: var(--font-main);

  td {
    border-top: 1px solid var(--border-color);
    font-size: 0.9em;
    background-color: var(--table-bg);
    padding: 5px;
  }

  th {
    text-align: left;
    background-color: var(--table-bg);
    padding: 5px;
  }
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-delete {
  border: 1px solid var(--delete-color);
  background-color: var(--delete-bg);
  color: var(--delete-color);
  font-weight: 600;
}

.button-edit {
  border: 1px solid var(--edit-color);
  background-color: var(--edit-bg);
  color: var(--edit-color);
  font-weight: 600;
}
